checkpoints*/
data/
wandb/
thirdparty/
experiments/
notebooks/
__pycache__/
external/seeAoT/data/
lightning_logs/
scores/
external/t2v_metrics/

checkpoints
*.pth
external/seeAoT/data
.ipynb_checkpoints
*.gif
assets/ego4d*.txt
temp.csv